<div *ngIf="this.isBrowser">
  <div *ngFor="let i of iterator">
    <div class="header" id="header-section">
      <div>
        <button class="nav-btn1" (click)="log('home')">Home</button>
        <button class="nav-btn2" (click)="log('product')">Product</button>
        <button class="nav-btn1" (click)="log('solution')">Solution</button>
        <button class="nav-btn2" (click)="log('blog')">Blog</button>
      </div>
    </div>
    <div class="middle" id="mid-section">
      <div>
        <img src="assets/nice_back.jpg" alt="">
      </div>
    </div>
    <div class="footer" id="footer-section">
      <div>
        <button class="nav-btn2" (click)="log('contact')">Contact Us</button>
        <button class="nav-btn1" (click)="log('quote')">Get A Quote</button>
        <button class="nav-btn2" (click)="log('newsletter')">Newsletter</button>
        <button class="nav-btn1" (click)="log('flying_abhijeet')">Instagram</button>
      </div>
    </div>
    <br>
  </div>
</div>
