.footer {
    margin-top: 1%;
}

.middle > div {
    text-align: center;
}

.middle > div > img {
    width: 80%;
}

.header {
    margin-bottom: 1%;
}

.nav-btn1 {
    height: 30px;width: 25%;
    background-color: antiquewhite;
}

.nav-btn2 {
    height: 30px;width: 25%;
}
